doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Concurs
        link(rel='stylesheet', href='./css/styles.css')

    body

        .container  
            .general         
                //- .start-wrapper
                //-     - for (var i=1; i<=5; i++) {
                //-         .star-center-side
                //-     - }
                //-     .side
                //-         - for (var i=1; i<=3; i++) {
                //-             .star-side
                //-         - }
                //-     .side.back
                //-         - for (var i=1; i<=3; i++) {
                //-             .star-side
                //-         - }

                .second-tree
                    - for (var j=0; j<=6; j++) {
                        .row
                            - for (var i=1; i<=6+j*2; i++) {
                                .tree-side-el
                            - } 
                    - }   

                //- - for (var k=0; k<=5; k++) {
                //-     .drift-wrapper
                //-         - for (var z=1; z<=4; z++) {
                //-             .drift-side
                //-         - } 
                //- - } 

                - for (var st=1; st<=180; st++) {
                    .snow-start-spline
                        - for (var g=1; g<=8; g++) {
                            .snow-start-el
                                .line
                                    - for (var x=1; x<=6; x++) {
                                        div
                                    - }
                        - }
                -}